@model OPAS2Model.GoodsReceiving

@section init_scripts {
<script type="text/javascript">
  var initBag={};
  // object datas
  initBag.workingMode = "new";
  initBag.purchaseOrderId=@ViewBag.PO.purchaseOrderId;
  initBag.PODocumentNo= "@ViewBag.PO.documentNo";
  initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  initBag.guid = "@ViewBag.guid";
  initBag.departmentId = @ViewBag.PO.departmentId;
  // biz data
  initBag.bizData = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.bizDataJsonEncoded)'));
  // detail table
  initBag.GRDetails = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.GRDetails)'));
  // master datas
  initBag.removeAttachPath = "/api/AttachFile/Remove/@ViewBag.guid";
  initBag.GRCreateWithFlowActionPath = "/api/GR/CreateWithFlowAction/";
  // flow datas
  initBag.availableFlowConnections = JSON.parse(Base64.decode(
    "@ViewBag.availableFlowConnectionsEncoded"));
  initBag.flowTemplateGuid = "@ViewBag.flowTemplateGuid";
  initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
</script>
  }

@using (Html.BeginForm(
        "CreateFromPO", (string)ViewBag.flowTemplateCode, FormMethod.Post,
        htmlAttributes: new Dictionary<string, object> {
          { "v-on:submit.prevent", "onSubmitCreate" },
          { "autocomplete", "off"} }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    @Html.Partial("DisplayBizDocumentHeaderPartial")

    @Html.Partial("RenderMainFieldsForEditPartial")

    @Html.Partial("RenderDetailFieldsForEditPartial")

    @Html.Partial("RenderAttachListOpsPartial")

    @Html.Partial("RenderCreateWorkflowOpsPartial")

  </div>
}


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
