@model IEnumerable<OPAS2Model.GoodsReceiving>

@{
  ViewBag.Title = "FreeQuery";
}

@section init_scripts {
<script type="text/javascript">
  var initBag = {};
  initBag.bizData = {};
</script>
}

<h3>@Resources.Resource.MENU_FreeQuery - @Resources.Resource.MENU_GR</h3>

@Html.Partial("RenderBizDocFreeQueryConditionPartial", @Model)

@Html.Partial("DisplayQueryListResultPartial",@Model)

@Html.Partial("DisplayBizDocFreeQueryPaginatorPartial",@Model)
