@{
  var controllerName = HttpContext.Current.Request.RequestContext.
    RouteData.Values["Controller"].ToString();
  var actionName = HttpContext.Current.Request.RequestContext.
    RouteData.Values["Action"].ToString();
  var currentUserDTO = (EnouFlowOrgMgmtLib.UserDTO)
    HttpContext.Current.Session["currentUserDTO"];
  var currentUserName = currentUserDTO != null ? currentUserDTO.name : "";
}

@helper hasPermission(string code) // 判定当前用户是否有指定code的功能权限
{
  @ViewBag.functionPermissionCodes.Contains(code).ToString().ToLower()
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OPAS2 - @Resources.Resource.G_OPAS V2.0</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/vue")
  @Scripts.Render("~/bundles/vue-element-ui")
  @Scripts.Render("~/bundles/lodash")
  @Scripts.Render("~/bundles/guid")
  @Scripts.Render("~/bundles/webtoolkitbase64")
  @Scripts.Render("~/bundles/axios")
  @Scripts.Render("~/bundles/currency-validator")
  @Scripts.Render("~/bundles/my-vue-components")
  @Scripts.Render("~/bundles/opas-vue-public-mixin")
  @Scripts.Render("~/bundles/opas-vue-biz-document-mixin")
  <script type="text/javascript">
    var workingMode = "@actionName";
  </script>
</head>
<body style="overflow-y:scroll;">
  <div id="app">
    <div class="row">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            @Html.ActionLink("OPAS2 - " + @Resources.Resource.G_OPAS + " V2.0",
              "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
          </div>
          <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
              @*<li><a href="#">@Resources.Resource.MENU_Messages<span class="badge-danger"> 3</span></a></li>*@
              <li>
                @Html.ActionLink(Resources.Resource.MENU_Messages, "Index", "FlowTaskForUser",null, 
                  htmlAttributes: new { style = "display: inline-block; padding-right: 0px;" })
                <span class="badge-danger"> @ViewBag.flowTaskForUsers.Count</span>
              </li>


              <li>@Html.ActionLink(Resources.Resource.MENU_Logout +" (" + currentUserName + ") ",
                "Logout", "User",null,null)
              </li>
              <li>
                <a href="#">
                  <el-dropdown @@command="alertErrorNotImplemented">
                    <span class="el-dropdown-link">
                      @Resources.Resource.MENU_Delegation<i class="caret"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item>张三 <span class="badge-danger"> 1</span></el-dropdown-item>
                      <el-dropdown-item>李四 <span class="badge-danger"> 2</span></el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </a>
              </li>
              @*<li><a href="#">@Resources.Resource.MENU_Help</a></li>*@
              <li>
                @Html.ActionLink("中文-EN", "SetCulture", "Home",
               new { culture = (ViewBag.cultureName == "zh-CN" ? "en-US" : "zh-CN") }, null)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        @* 左侧菜单栏 *@
        <div class="col-md-2 no-left-right-padding">
          <el-menu default-active="@ViewBag.currentMenuIndex" ref="main-nav-menu"
                   class="el-menu-vertical-demo" theme="dark">
            <el-submenu index="PR" >
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_PR
              </template>
              <el-menu-item index="PR-NEW">
                @Html.ActionLink(@Resources.Resource.MENU_New, "Create", "PR")
              </el-menu-item>
              <el-menu-item index="PR-MY">
                @Html.ActionLink(@Resources.Resource.MENU_MyApplications, "Index", "PR")
              </el-menu-item>
              <el-menu-item index="PR-MY-DEPARTMENT">
                @Html.ActionLink(@Resources.Resource.MENU_MyDepartmentApplications, "Index", "PR")
              </el-menu-item>
              <el-menu-item index="PR-APPROVALS">
                @Html.ActionLink(@Resources.Resource.MENU_History, "Index", "PR")
              </el-menu-item>
              <el-menu-item index="PR-QUERY">
                @Html.ActionLink(@Resources.Resource.MENU_FreeQuery, "Index", "PR")
              </el-menu-item>
              <el-menu-item index="PR-OPEN">
                @Html.ActionLink(@Resources.Resource.MENU_EffectivePRs, "ListEffective", "PR")
              </el-menu-item>
            </el-submenu>

            <el-submenu index="PO">
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_PO
              </template>
              <el-menu-item index="PO-NEW">新建</el-menu-item>
              <el-menu-item index="PO-MY">我的申请</el-menu-item>
              <el-menu-item index="PO-APPROVALS">审批记录</el-menu-item>
              <el-menu-item index="PO-QUERY">自由查询</el-menu-item>
              <el-menu-item index="PO-OPEN">
                @Html.ActionLink(@Resources.Resource.MENU_EffectivePOs, "ListEffective", "PO")
              </el-menu-item>
            </el-submenu>

            <el-submenu index="GR">
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_GR
              </template>
              <el-menu-item index="GR-NEW">新建</el-menu-item>
              <el-menu-item index="GR-MY">我的申请</el-menu-item>
              <el-menu-item index="GR-APPROVALS">审批记录</el-menu-item>
              <el-menu-item index="GR-QUERY">自由查询</el-menu-item>
            </el-submenu>

            <el-submenu index="PM">
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_PM
              </template>
              <el-menu-item index="PM-NEW">新建</el-menu-item>
              <el-menu-item index="PM-MY">我的申请</el-menu-item>
              <el-menu-item index="PM-APPROVALS">审批记录</el-menu-item>
              <el-menu-item index="PM-QUERY">自由查询</el-menu-item>
            </el-submenu>

            <el-submenu index="MY">
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_MY
              </template>
              <el-menu-item index="MY-ACCOUNT">账户信息</el-menu-item>
              <el-menu-item index="MY-ALERT">提醒设置</el-menu-item>
              <el-menu-item index="MY-DELEGATE">外出代理设置</el-menu-item>
            </el-submenu>

            <el-submenu index="MDM">
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_MDM
              </template>
              @*<el-menu-item index="MDM-CALENDAR">工作日历维护</el-menu-item>*@
              <el-menu-item index="MDM-COST-CENTER">
                @Html.ActionLink(@Resources.Resource.MENU_CostCenters, "index", "CostCenter")
              </el-menu-item>
              <el-menu-item index="MDM-COST-ELEMENT">
                @Html.ActionLink(@Resources.Resource.MENU_CostElements, "index", "CostElement")
              </el-menu-item>
              <el-menu-item index="MDM-COST-ELEMENT-TYPE">
                @Html.ActionLink(@Resources.Resource.MENU_CostElementTypes, "index", "CostElementType")
              </el-menu-item>
              <el-menu-item index="MDM-CURRENCY-RATE">
                @Html.ActionLink(@Resources.Resource.MENU_CurrencyRates, "index", "CurrencyRate")
              </el-menu-item>
              <el-menu-item index="MDM-CURRENCY-TYPE">
                @Html.ActionLink(@Resources.Resource.MENU_CurrencyTypes, "index", "CurrencyType")
              </el-menu-item>
              <el-menu-item index="MDM-VENDOR">
                @Html.ActionLink(@Resources.Resource.MENU_Vendors, "index", "Vendor")
              </el-menu-item>
              <el-menu-item index="MDM-VENDOR-BANK">供应商银行</el-menu-item>
            </el-submenu>

            <el-submenu index="REPORT" v-if='@hasPermission("REPORT")'>
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_Report
              </template>
              <el-menu-item index="REPORT-TODO">待确定</el-menu-item>
            </el-submenu>

            <el-submenu index="SYS">
              <template slot="title">
                <i class="el-icon-menu"></i>@Resources.Resource.MENU_SysManage
              </template>
              <el-menu-item index="SYS-USER">
                @Html.ActionLink(@Resources.Resource.MENU_Users, "index", "User")
              </el-menu-item>
              <el-menu-item index="SYS-DEPARTMENT">
                @Html.ActionLink(@Resources.Resource.MENU_Departments, "index", "Department")
              </el-menu-item>
              <el-menu-item index="SYS-ROLE">
                @Html.ActionLink(@Resources.Resource.MENU_Roles, "index", "Role")
              </el-menu-item>
              <el-menu-item index="SYS-PERMISSION">
                @Html.ActionLink(@Resources.Resource.MENU_Permission, "index", "FunctionPermission")
              </el-menu-item>
              <el-menu-item index="SYS-FLOW-INSTANCES-MGMT">
                @Html.ActionLink(@Resources.Resource.MENU_FlowInstancesMgmt, "running", "FlowInstance")
              </el-menu-item>
              <el-menu-item index="SYS-FLOW-TEMPLATE">
                @Html.ActionLink(@Resources.Resource.MENU_FlowTemplates, "index", "FlowTemplate")
              </el-menu-item>
            </el-submenu>
          </el-menu>
        </div>

        @* 右侧内容区 *@
        <div class="col-md-10">
          <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
              <p class="text-center">
                &copy; @DateTime.Now.Year - @Resources.Resource.G_OPAS V2.0
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  @RenderSection("scripts", required: false)
  @RenderSection("init_scripts", required: false)

  @Scripts.Render("~/Scripts/app/" + controllerName + "/bundle.js")
</body>
</html>
