@model IEnumerable<EnouFlowInstanceLib.FlowInstance>

@section init_scripts {
  <script type="text/javascript">
    var initBag = {};
    initBag.currentUserId = @ViewBag.currentUserDTO.userId;
    initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  </script>
}

<h3>@Resources.Resource.MENU_FlowInstancesMgmt</h3>

<table class="table table-condensed table-striped">
  <tr>
    <th>
      @Resources.Resource.G_DocType
    </th>
    <th>
      @Resources.Resource.G_Code
    </th>
    <th>
      @Resources.Resource.G_CurrentOperator
    </th>
    <th>
      @Resources.Resource.G_CurrentStep
    </th>
    <th>
      @Resources.Resource.G_Creator
    </th>
    <th>
      @Resources.Resource.G_CreateTime
    </th>
    <th>
      @Resources.Resource.G_RunningDays
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.bizDocumentTypeCode)
      </td>
      <td>
        @item.code.Substring(9)
      </td>
      <td>
        @Html.Action("DisplayCurrentOperatorsOfFlowInstance",
          "FlowTaskForUser", new { id = item.flowInstanceId })
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.currentActivityName)
      </td>
      <td>
        @Html.Action("DisplayNameById", "User", new { id = item.creatorId })
      </td>
      <td>
        @item.createTime.ToString("yyyy/MM/dd")
      </td>
      <td>
        @((item.bizTimeStamp - item.createTime).Days + 1)
      </td>
      <td>
        @Html.ActionLink(@Resources.Resource.G_Details,
          "DisplayBizDocument", new { guid = item.guid }) |
        <el-button type="warning" size="mini"
                   @@click="onShowJumpTo(@item.flowInstanceId)">
          @Resources.Resource.G_JumpTo
        </el-button> |
        <el-button type="danger" size="mini"
                   @@click="onShowTerminate(@item.flowInstanceId)">
          @Resources.Resource.G_TerminateTo
        </el-button>
      </td>
    </tr>
  }

</table>

<el-dialog title="@Resources.Resource.G_JumpTo" size="small"
           v-model="dialogJumpToActivity" modal-append-to-body=true>
  目的状态:
  <select v-model="jumpToDataPackage.nextActivityGuid" class="form-control">
    <option v-for="item in jumpTo.availableFlowActivityNodes" v-bind:value="item.guid">
      {{ item.name }}
    </option>
  </select>
  <hr/>
  活动执行人:
  <select v-model="jumpToDataPackage.selectedPaticipantGuid" class="form-control">
    <option v-for="item in allUserDTOs" v-bind:value="item.guid">
      {{ item.name + "/" + item.englishName }}
    </option>
  </select>
  <hr />
  @Resources.Resource.G_Memo
  <textarea v-model="jumpToDataPackage.remarkOfAprrover" style="width: 100%;" rows="3"
            class="form-control" placeholder="@Resources.Resource.G_Memo">
  </textarea>
  <hr />
  <input type="button" value="@Resources.Resource.G_Submit"
         v-bind:disabled="!(jumpToDataPackage.nextActivityGuid && jumpToDataPackage.selectedPaticipantGuid)"
         v-on:click="onSubmitJumpToFlowAction"
         class="btn btn-primary" />
</el-dialog>

<el-dialog title="@Resources.Resource.G_TerminateTo" size="small"
           v-model="dialogTerminate" modal-append-to-body=true>
  目的状态:
  <select v-model="terminateDataPackage.nextActivityGuid" class="form-control">
    <option v-for="item in terminate.availableFlowActivityNodes" v-bind:value="item.guid">
      {{ item.name }}
    </option>
  </select>
  <hr />
  @Resources.Resource.G_Memo
  <textarea v-model="terminateDataPackage.remarkOfAprrover" style="width: 100%;" rows="3"
            class="form-control" placeholder="@Resources.Resource.G_Memo"></textarea>
  <hr />
  <input type="button" value="@Resources.Resource.G_Submit"
         v-bind:disabled="!(terminateDataPackage.nextActivityGuid && terminateDataPackage.remarkOfAprrover)"
         v-on:click="onSubmitTerminateFlowAction"
         class="btn btn-primary" />
</el-dialog>