@model OPAS2Model.PurchaseReq

@section init_scripts {
<script type="text/javascript">
  var initBag={};
  // object datas
  initBag.workingMode = "new";
  initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  initBag.guid = "@ViewBag.guid";
  // biz data
  initBag.bizData = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.bizDataJsonEncoded)'));
  // detail table
  initBag.PRDetails = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.PRDetails)'));
  // master datas
  initBag.pRItemTypes = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.pRItemTypesJsonEncoded)'));
  initBag.departmentList = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.departmentListJsonEncoded)'));
  initBag.currencyTypeList = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.currencyTypeListJsonEncoded)'));
  initBag.costCenterList = JSON.parse(Base64.decode(
    '@Html.Raw(ViewBag.costCenterListJsonEncoded)'));

  initBag.removeAttachPath = "/api/AttachFile/Remove/@ViewBag.guid";
  initBag.PRCreateWithFlowActionPath = "/api/PR/CreateWithFlowAction/";
  // flow datas
  initBag.availableFlowConnections = JSON.parse(Base64.decode(
    "@ViewBag.availableFlowConnectionsEncoded"));
  initBag.flowTemplateGuid = "@ViewBag.flowTemplateGuid";
  initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
</script>
}

@using (Html.BeginForm(
  "Create", (string)ViewBag.flowTemplateCode, FormMethod.Post, 
  htmlAttributes: new Dictionary<string, object> {
      { "v-on:submit.prevent", "onSubmitCreate" } ,
      { "autocomplete", "off"} }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    @Html.Partial("DisplayBizDocumentHeaderPartial")

    <div class="form-group">
      @Html.LabelFor(model => model.documentNo, @Resources.Resource.G_DocNo,
        htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-4 show-field">
        @Resources.Resource.G_NotAvailableNow
      </div>

      @Html.LabelFor(model => model.WBSNo, @Resources.Resource.G_WBSNo,
        htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-4">
        @Html.EditorFor(model => model.WBSNo,
        new
        {
          htmlAttributes = new Dictionary<string, object> {
          { "class","form-control" } , { "v-model","newItem.WBSNo" } }
        })
      </div>
    </div>

    @Html.Partial("RenderMainFieldsForEditPartial")

    @Html.Partial("RenderDetailFieldsForEditPartial")

    @Html.Partial("RenderAttachListOpsPartial")

    @Html.Partial("RenderCreateWorkflowOpsPartial")

  </div>
}