@model OPAS2Model.PurchaseReq

@section init_scripts {
<script type="text/javascript">
  var initBag = {};
  initBag.workingMode = "examine";
  initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  initBag.guid = "@Model.guid";
  initBag.purchaseReqId =  @ViewBag.purchaseReqId;
  initBag.taskGuid = "@ViewBag.taskGuid";
  // biz data
  initBag.bizData = {};
  // session datas
  initBag.PRNextFlowActionPath = "/api/PR/ExamineFlowAction/";
  initBag.PRRejectToStartFlowActionPath = 
    "/api/PR/RejectToStartFlowAction/";
  // flow datas
  initBag.availableFlowConnections = JSON.parse(Base64.decode(
    "@ViewBag.availableFlowConnectionsEncoded"));
  initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
  initBag.flowInstanceId = @ViewBag.flowInstanceId;

</script>
  }

@using (Html.BeginForm(
          "ExamineFlowAction", 
          (string)ViewBag.flowTemplateCode, 
          FormMethod.Post,
          htmlAttributes: new Dictionary<string, object> {
            { "v-on:submit.prevent", "onSubmitExamineFlowAction" },
            { "autocomplete", "off"}  }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">

    @Html.Partial("DisplayBizDocumentHeaderPartial")

    @Html.HiddenFor(model => model.purchaseReqId)

    @Html.Partial("DisplayMainFieldsPartial", Model)

    @Html.Partial("DisplayRemarkOfApproversPartial")

    @Html.Partial("RenderRemarksOpsPartial")

    @Html.Partial("DisplaySubTableFieldsPartial", Model)

    @Html.Partial("DisplayAttachListPartial")

    @Html.Partial("RenderExamineOpsPartial")
  </div>
}

@Html.Partial("DisplayBackToTaskListLinkPartial")
