@model OPAS2Model.Payment

@{
  if (ViewBag.layout == 0)
  {
    Layout = "~/Views/Shared/_Layout-No-Navs.cshtml"; // 页面上无导航组件的查看模式
  }
}

@section init_scripts {
<script type="text/javascript">
  var initBag = {};
  initBag.workingMode = "examine";
  initBag.purchaseOrderId=@ViewBag.PO.purchaseOrderId;
  initBag.paymentId = @Model.paymentId;
  initBag.PODocumentNo= "@if (ViewBag.PO != null) { @ViewBag.PO.documentNo }";
  initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  initBag.guid = "@Model.guid";
  initBag.departmentId = @ViewBag.PO.departmentId;
  // biz data
  initBag.bizData = {};
  // session datas
  // flow datas
  initBag.flowInstanceId = @ViewBag.flowInstanceId;
  initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
  initBag.flowTemplateDef= JSON.parse(JSON.parse(Base64.decode(
'@Html.Raw(ViewBag.flowTemplateDef)')));
</script>
  }
@using (Html.BeginForm("", 
  (string)ViewBag.flowTemplateCode, FormMethod.Post,
              htmlAttributes: new Dictionary<string, object> {
          { "v-on:submit.prevent", "onSubmitExamineFlowAction" },
          { "autocomplete", "off"} }))
{
  <div class="form-horizontal">
    @Html.Partial("DisplayBizDocumentHeaderPartial")
    @Html.Partial("DisplayMainFieldsPartial", Model)
    @Html.Partial("DisplayRemarkOfApproversPartial")
    @Html.Partial("DisplaySubTableFieldsPartial", Model)
    @Html.Partial("DisplayAttachListPartial")
    @Html.Partial("DisplayRelevantBizDocFramePartial",
      Model.paymentId)
  </div>
}