@model OPAS2Model.Payment

@section init_scripts {
<script type="text/javascript">
  var initBag = {};
  initBag.workingMode = "examine";
  initBag.purchaseOrderId=@ViewBag.PO.purchaseOrderId;
  initBag.paymentId = @Model.paymentId;
  initBag.PODocumentNo= "@if (ViewBag.PO != null) { @ViewBag.PO.documentNo }";
  initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  initBag.guid = "@Model.guid";
  initBag.departmentId = @ViewBag.PO.departmentId;
  initBag.taskGuid = "@ViewBag.taskGuid";
  // biz data
  initBag.bizData = {};
  // master datas
  initBag.PMNextFlowActionPath = "/api/PM/ExamineFlowAction/";
  initBag.PMRejectToStartFlowActionPath = 
  "/api/PM/RejectToStartFlowAction/";
  // flow datas
  initBag.availableFlowConnections = JSON.parse(Base64.decode(
    "@ViewBag.availableFlowConnectionsEncoded"));
  initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
  initBag.flowInstanceId = @ViewBag.flowInstanceId;
</script>
  }

@using (Html.BeginForm("ExamineFlowAction", 
  (string)ViewBag.flowTemplateCode, FormMethod.Post,
              htmlAttributes: new Dictionary<string, object> {
          { "v-on:submit.prevent", "onSubmitExamineFlowAction" },
          { "autocomplete", "off"} }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h3 class="text-center">@Resources.Resource.MENU_PM</h3>
    <hr />
    @Html.HiddenFor(model => model.paymentId)

    @Html.Partial("DisplayMainFieldsPartial", Model)

    @Html.Partial("DisplayRemarkOfApproversPartial")

    @Html.Partial("RenderRemarksOpsPartial")

    @Html.Partial("DisplaySubTableFieldsPartial", Model)

    @Html.Partial("DisplayAttachListPartial")

    @Html.Partial("RenderExamineOpsPartial")

  </div>
}

<div>
  @Html.ActionLink(@Resources.Resource.G_BackToList, "Index", "FlowTaskForUser",null, null)
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
