@model OPAS2Model.Payment

@section init_scripts {
<script type="text/javascript">
  var initBag = {};
  initBag.workingMode = "examine";
  initBag.purchaseOrderId=@ViewBag.PO.purchaseOrderId;
  initBag.paymentId = @Model.paymentId;
  initBag.PODocumentNo= "@if (ViewBag.PO != null) { @ViewBag.PO.documentNo }";
  initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
  initBag.guid = "@Model.guid";
  initBag.departmentId = @ViewBag.PO.departmentId;
  initBag.taskGuid = "@ViewBag.taskGuid";
  // biz data
  initBag.bizData = {};
  // session datas
  initBag.PMInviteOtherFeedbackFlowActionPath="/api/PM/InviteOtherFeedbackFlowAction/";
  // flow datas
  initBag.availableFlowConnections = JSON.parse(Base64.decode(
    "@ViewBag.availableFlowConnectionsEncoded"));
  initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
  initBag.flowInstanceId = @ViewBag.flowInstanceId;
  initBag.flowTemplateDef= JSON.parse(JSON.parse(Base64.decode(
'@Html.Raw(ViewBag.flowTemplateDef)')));
</script>
  }

@using (Html.BeginForm("ExamineFlowAction", 
  (string)ViewBag.flowTemplateCode, FormMethod.Post,
              htmlAttributes: new Dictionary<string, object> {
          { "v-on:submit.prevent", "onSubmitExamineFlowAction" },
          { "autocomplete", "off"} }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    @Html.Partial("DisplayBizDocumentHeaderPartial")
    @Html.HiddenFor(model => model.paymentId)

    @Html.Partial("DisplayMainFieldsPartial", Model)

    @Html.Partial("DisplayRemarkOfApproversPartial")

    @Html.Partial("DisplaySubTableFieldsPartial", Model)

    @Html.Partial("DisplayAttachListPartial")

    @Html.Partial("RenderRemarksOpsPartial")

    @Html.Partial("RenderInviteOtherFeedbackOpsPartial")
  </div>
}

<div>
  @Html.ActionLink(@Resources.Resource.G_BackToList, "Index", "FlowTaskForUser",null, null)
</div>

