@model OPAS2Model.Payment

@section init_scripts {
  <script type="text/javascript">
    var initBag={};
    // object datas
    initBag.workingMode = "updateAtStart";
    initBag.removeAttachPath = "/api/AttachFile/Remove/@ViewBag.guid";
    initBag.purchaseOrderId=@ViewBag.PO.purchaseOrderId;
    initBag.PODocumentNo= "@ViewBag.PO.documentNo";
    initBag.currentUserGuid = "@ViewBag.currentUserDTO.guid";
    initBag.guid = "@ViewBag.guid";
    initBag.departmentId = @ViewBag.PO.departmentId;
    initBag.paymentId =  @ViewBag.paymentId;
    initBag.taskGuid = "@ViewBag.taskGuid";
    // biz data
    initBag.bizData = JSON.parse(Base64.decode(
      '@Html.Raw(ViewBag.bizDataJsonEncoded)'));
    // detail table
    initBag.PMDetails = JSON.parse(Base64.decode(
      '@Html.Raw(ViewBag.PMDetails)'));
    // master datas
    initBag.paymentAreaTypes = JSON.parse(Base64.decode(
      '@Html.Raw(ViewBag.paymentAreaTypesJsonEncoded)'));
    initBag.paymentCurrencyTypes = JSON.parse(Base64.decode(
      '@Html.Raw(ViewBag.paymentCurrencyTypesJsonEncoded)'));
    initBag.paymentMethodTypes = JSON.parse(Base64.decode(
      '@Html.Raw(ViewBag.PaymentMethodTypesJsonEncoded)'));
    // session datas
    initBag.PMNextFlowActionPath = "/api/PM/UpdateAtStartFlowAction/";
    // flow datas
    initBag.availableFlowConnections = JSON.parse(Base64.decode(
      "@ViewBag.availableFlowConnectionsEncoded"));
    initBag.currentActivityGuid = "@ViewBag.currentActivityGuid";
    initBag.flowInstanceId = @ViewBag.flowInstanceId;
    initBag.flowTemplateDef= JSON.parse(JSON.parse(Base64.decode(
'@Html.Raw(ViewBag.flowTemplateDef)')));
  </script>
}

@using (Html.BeginForm(
        "UpdateAtStartFlowAction",
        (string)ViewBag.flowTemplateCode, FormMethod.Post,
        htmlAttributes: new Dictionary<string, object> {
          { "v-on:submit.prevent", "onSubmitUpdateAtStartFlowAction" },
          { "autocomplete", "off"}  }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    @Html.Partial("DisplayBizDocumentHeaderPartial")

    @Html.HiddenFor(model => model.purchaseReqId)

    @Html.Partial("RenderMainFieldsForEditPartial")

    @Html.Partial("DisplayRemarkOfApproversPartial")

    @Html.Partial("RenderDetailFieldsForEditPartial")

    @Html.Partial("DisplayAttachListPartial")

    @Html.Partial("RenderAttachListOpsPartial")

    @Html.Partial("RenderCreateWorkflowOpsPartial")
  </div>

}